---
# pre-commit configuration
repos:

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.3.0
      hooks:
          - id: check-yaml
          - id: check-toml
          - id: end-of-file-fixer
          - id: trailing-whitespace
          - id: check-docstring-first
          - id: requirements-txt-fixer

    - repo: https://github.com/psf/black
      rev: 22.6.0
      hooks:
          - id: black

    - repo: https://github.com/asottile/dead
      rev: v1.5.0
      hooks:
          - id: dead

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.1 # or other specific tag
      hooks:
          - id: yamlfmt

    - repo: https://github.com/PyCQA/bandit
      rev: 1.7.4
      hooks:
          - id: bandit

    - repo: https://github.com/PyCQA/pydocstyle
      rev: 6.1.1
      hooks:
          - id: pydocstyle

    - repo: https://github.com/PyCQA/prospector
      rev: 1.7.5   # The version of Prospector to use, if not 'master' for latest
      hooks:
          - id: prospector

    - repo: https://github.com/syntaqx/git-hooks
      rev: v0.0.17
      hooks:
          - id: circleci-config-validate
          - id: forbid-binary
