<html>
    <head>
        <title>
            LeafRoot Login
        </title>
    <script>
        window.addEventListener("load", () => {
  function sendData() {
    const XHR = new XMLHttpRequest();

    // Bind the FormData object and the form element
    const FD = new FormData(form);
    var object = {};
    FD.forEach((value, key) => object[key] = value);
    var json = JSON.stringify(object);

    // Define what happens on successful data submission
    XHR.addEventListener("load", (event) => {
      alert(event.target.responseText);
    });

    // Define what happens in case of error
    XHR.addEventListener("error", (event) => {
      alert('Oops! Something went wrong.');
    });

    // Set up our request
    XHR.open("POST", window.location.href+"users/login");
    XHR.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    // The data sent is what the user provided in the form
    XHR.send(json);
  }

  // Get the form element
  const form = document.getElementById("login_form");

    // Add 'submit' event handler
    form.addEventListener("submit", (event) => {
            event.preventDefault();
            sendData();
        });
    });
    </script>
    </head>
    <body>
        <form id="login_form">
            Email: <input id="Email" name="email"></input><br>
            Password: <input id="password" name="password" type="password"></input>
            <input type="submit" value="Login" />
        </form>
    </body>
</html>
